td {color: purple; max-width: 200px; border: 2px solid black; text-align: right;}
table {border: 5px solid purple; border-collapse: collapse;}
legend {border: 2px solid blue; color: red; background-color: orange;}
fieldset {background-color: red;}
